<h1>Configure Device</h1>
<span>Make sure the IP address of the Buva device is static/reserved</span><br/><br/>
<label for="ip">IP Of Buva Device:</label>
<input type="text" name="ip" id="ip"/><br/>
<input type="button" value="Connect" onclick="return onConnectClick();"/>

<script type="text/javascript">
  function onConnectClick() {
    console.log('onSubmitForm');
    var ipDomElement = document.getElementById('ip');

    Homey.setTitle('Adding device...');
    Homey.createDevice({
      name: 'Q-Stream 2.0',
      data: {
        mac: null,
        ipAddress: ipDomElement.value,
      },
    }, (err) => {
      if (err) {
        console.log(err);
        return;
      }

      Homey.done();
    });

    return false;
  }
</script>
